{% load static %}

<footer class="bg-mainGreen">
  <div
    class="max-w-7xl mx-auto flex flex-col justify-between items-start space-y-16 md:flex-row md:space-y-0 py-10 md:space-x-8 px-8"
  >
    <!-- About -->
    <div>
      <h4 class="text-lg text-mainYellow font-bold mb-2">ABOUT</h4>
      <p class="max-w-sm py-2 text-white text-sm">
        Founded in 1979, the institution is dedicated to training and developing
        technicians and technologists in various fields of Applied Science,
        Engineering, and Management.
      </p>
    </div>
    <!-- Quick Links -->
    <div>
        <h4 class="text-lg text-mainYellow font-bold mb-2">QUICK LINKS</h4>
        <ul>
            <li><a href="#" class="text-white hover:text-mainYellow">Home</a></li>
            <li><a href="#" class="text-white hover:text-mainYellow">About</a></li>
            <li><a href="#" class="text-white hover:text-mainYellow">Contact</a></li>
            <li><a href="#" class="text-white hover:text-mainYellow">Departments</a></li>
            <li><a href="#" class="text-white hover:text-mainYellow">FAQs</a></li>
        </ul>
    </div>
    <!-- Location -->
    <div>
        <h4 class="text-lg text-mainYellow font-bold mb-2">CONTACT</h4>
        <p class="text-white text-sm">
        <span>Km 46, Off Benin Owo Expressway,</span>
        <br>
        <span>P.M.B 1019, Owo, Ondo State, Nigeria.</span>
        <br>
        <span>Phone: +234 806 851 8729</span>
        </p>
    </div>
    <!-- Logo -->
    <div>
        <h4 class="text-lg text-mainYellow font-bold mb-3">LOGO</h4>
        <div class="h-24">
            <img src="{% static 'images/smalllogo.png' %}" alt="">
        </div>
    </div>
  </div>

  <!-- Copyright -->
   <div class="max-w-6xl mx-auto border-t h-2 border-mainYellow"></div>

   <div class="text-center text-sm text-white py-2 ">Copyright © 2025 WTD Digital Agency. All Rights Reserved.</div>
</footer>
